@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");

* {
	font-family: "Montserrat", sans-serif;
}

body {
	margin: 25px;
	background: #222222;
	color: white;
}

a:visited,
a:link,
a:hover,
a:active {
	color: white;
}


.home {
	margin: 0 auto;
	max-width: 700px;

	.info {
		position: relative;
		height: 100%;
		margin: 40px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.container {
			position: relative;
		}

		section {
			position: absolute;
			padding-bottom: 50px;
		}

		hr {
			margin: 15px 0;
			width: 30px;
		}

		.first-block {
		  display: flex;
		  flex-direction: column;
		  align-items: flex-start;

		  @media (min-width: 1024px) {
			  flex-direction: row;
		  }
		}

		.photo {
			border-radius: 50%;
			max-width: 200px;
			margin: 0;

			@media (min-width: 1024px) {
				margin: 0 30px 30px 0;
			}
		}

		.data {
			height: 200px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}

		.text {
		  	color: white;
			margin-top: 20px;
			width: 100%;
		}

		.name,
		.job {
			margin: 0;
		}

		.job {
			font-weight: 600;
		}

		.social {
			a {
				position: relative;
				margin-right: 10px;
				text-decoration: none;
			}
		}
	}

	nav ul {
		list-style: none;
		padding: 0;

		& li h4 {
			display: inline-block;
			font-weight: normal;
			cursor: pointer;
			transition: font-size 200ms;
		}
		& li.active h4 {
			font-size: 20px;
			font-weight: bold;
		}
	}
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.link-style {
	position: relative;

	&:before {
		bottom: -2px;
		height: 1px;
		left: 50%;
		position: absolute;
		background: #FFF;
		width: 0;
		content: '';
		transform: translateX(-50%);
		transition: width .4s cubic-bezier(.08,1.48,.69,1.14);
	}

	&:hover:before {
		width: 100%;
	}
}