@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");

* {
	font-family: "Montserrat", sans-serif;
}

body {
	margin: 25px;
	background: #222222;
	color: white;
}

a:visited,
a:link,
a:hover,
a:active {
	color: white;
}


.home {
	margin: 0 auto;
	max-width: 700px;

	.info {
		position: relative;
		height: 100%;
		margin: 40px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.container {
			position: relative;
		}

		section {
			position: absolute;
		}

		hr {
			margin: 15px 0;
			width: 30px;
		}

		.first-block {
		  display: flex;
		  flex-direction: column;
		  align-items: center;

		  @media (min-width: 1024px) {
			  flex-direction: row;
			  align-items: flex-start;
		  }
		}

		.photo {
			border-radius: 50%;
			max-width: 200px;
			margin: 0;

			@media (min-width: 1024px) {
				margin: 0 30px 30px 0;
			}
		}

		.data {
			height: 200px;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}

		.text {
		  	color: white;
			margin-top: 20px;
			width: 100%;
		}

		.name,
		.job {
			text-align: center;
			margin: 0;

			@media (min-width: 1024px) {
				text-align: left;
			}
		}

		.job {
			font-weight: 600;
		}

		.social {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;

			a {
				text-decoration: none;
			}
		}

		.fab,
		.far {
			font-size: 35px;
			margin: 0 15px;
		}

		.cv {
			width: 100%;
			display: flex;
			align-items: baseline;
		}

		.cv .far {
			font-size: 18px;
		}

		.recommendations {
			padding-top: 30px;
		}
	}

	.investments {
		ul li {
			margin: 15px 0;
		}
	}

	nav ul {
		list-style: none;
		padding: 0;

		& li {
			cursor: pointer;
		}
	}
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}